/**
* Customize CSS
*
* "You can add your own style below this comment".
*/


.content-form{
    background-color: #f1f3f6e7;
    width: 70%;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 50px;
    -webkit-box-shadow: 0px 7px 18px -2px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 7px 18px -2px rgba(0,0,0,0.43);
    box-shadow: 0px 7px 18px -2px rgba(0,0,0,0.43);
    border-radius: 24px;
}
.soumettre-color{
    background-image: -webkit-gradient(linear, left top, right top, from(#6577eb), to(#df61b1));
    background-image: linear-gradient(to right, #6577eb 0%, #df61b1 100%);
}
@media (max-width: 768px) {
    .content-form{
        padding: 16px;
        width: 90%;
    }
  }

  .liste-documents {
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    padding: 12px 15px;
    color: #1d1c1c;
    font-weight: 500;
    width: 100%;
    border-radius: 5px;
    text-align: left;
    height: auto;
    background-image: none;
  }

  